# Feature Selection

This can help us to high performance model with very features.

If there are thousands of features in data set, then it will be impossible to deal with them manually using just the domain and our business understanding.

Then the automatic feature selection or automatic features elemination becoem the key.

This is the where the knowledge of statistics is going to play a key role in undertanding the process.

Curse of Dimensionality- In order to increase the performance of model, we add the features but there will be an optimum point from which the performance of model will be going down.

![](15.png)

If the quality of the data is not good, the output will also be bad. It can have a bad effect on the R-squared value. There are numerous benifits that we can get by selecting or rejecting some of the features. Having fewer features simplifies the model and we will be in a better position to explain the prediction power or the behaviour of our model. Secondly removing the unwanted features, it will remove all the noise. The training time will be much shorter. It will also reduce overfitting. We will also avoid the curse of dimensionality.

Scikit Learn provides multiple ways of features selection.

![](16.png)

# 1) Univariate Features Selection-

Step1- get all independent features

Step2- Apply relevant statistical method.

Step3- Get P value and compare with the significance level.

Step4- Select the feature if P< alpha value.

![](17.png)

![](19.png)
![](20.png)
![](21.png)
![](22.png)
![](23.png)

F-Test for Regression and Classification

![](24.png)

![](25.png)

Hands on F Test

In [1]:
#import libraries
import pandas as pd

In [2]:
#Read the file
f= pd.read_csv('Students2.csv')

In [3]:
f

    Hours  sHours  hoursplayed  income  distance  calories  Marks
0       0       6            6     146         9      2491     34
1       1       7            2     112         5      2303     36
2       1       6            1      84         7      2475     33
3       1       8            5     134         0      2282     39
4       1       8            5     104         8      2359     42
5       2       8            4      80         1      2354     45
6       2       6            3      93         0      2943     38
7       3       6            3      83         7      2119     45
8       3       7            6     139         1      2511     53
9       3       7            5     138        10      2666     46
10      3       8            5      98         2      2934     56
11      4       8            1      90         0      2838     59
12      4       7            3     140         7      2102     55
13      4       7            6     144         3      2560     56
14      5       8            2     144         5      2068     72
15      5       6            2     119         6      2541     59
16      6       6            1     140         6      2690     62
17      6       7            1      85         3      2956     71
18      7       8            2     140         8      2239     78
19      7       8            6     107         0      2703     88
20      7       6            5      85         7      2603     61
21      7       6            3     109         0      2031     74
22      8       7            5     108         0      2885     71
23      8       8            1     150         8      2153     89
24      9       8            4     150         9      2384     82
25      9       5            5      84        10      2882     67
26      9       8            5     127         5      2271     89
27     10       8            6      95         6      2264     81
28     10       8            5      72         5      2522     82
29     11       7            3      89         3      2279     79

Prediction - Marks Obtained

Discription of the dataset

Hours- Number of hours of study

sHours- Number of hours slept

hoursplayed- Number of hours the student played during the day.

income- family income

distnace- how far the student stay from the school.

calories- eating habit of the student

 We will use f_regression here.

In [4]:
#Split the coulmn into Dependent (Y) and independent(X) features
X=f.iloc[:,:-1]
Y=f.iloc[:,-1]

In [5]:
#Create and train the simple linear regression model

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
#Create Regressor
std_reg=LinearRegression()

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
#Split the dataset by rows into training and test datasets.
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.4, random_state=1234)

In [10]:
std_reg.fit(x_train,y_train)

LinearRegression()

In [11]:
#predict Y value from test data

In [12]:
y_predict=std_reg.predict(x_test)

In [13]:
y_predict

array([37.4304362 , 56.8479958 , 38.85467354, 38.975673  , 82.86947672,
       59.67634562, 52.29968093, 81.17290759, 67.77562938, 63.7577854 ,
       82.18209854, 86.65908659])

In [14]:
from sklearn.metrics import mean_squared_error

In [15]:
import math

In [16]:
slr_rmse=math.sqrt(mean_squared_error(y_test,y_predict))

In [17]:
slr_rmse

6.982206715357434

In [18]:
#Import f_regreesion from sklearn
from sklearn.feature_selection import f_regression as fr

In [19]:
fr(X,Y)

(array([1.41905913e+02, 4.57019756e+00, 1.44882087e-03, 1.59990513e-01,
        3.16606568e-03, 4.04208927e-01]),
 array([1.77038466e-12, 4.14028344e-02, 9.69907241e-01, 6.92200477e-01,
        9.55528076e-01, 5.30086171e-01]))

In [20]:
result= fr(X,Y)

In [21]:
result

(array([1.41905913e+02, 4.57019756e+00, 1.44882087e-03, 1.59990513e-01,
        3.16606568e-03, 4.04208927e-01]),
 array([1.77038466e-12, 4.14028344e-02, 9.69907241e-01, 6.92200477e-01,
        9.55528076e-01, 5.30086171e-01]))

In [22]:
f_score=result[0]

In [23]:
p_values=result[1]

In [24]:
my_formatter = "{0:.2f}"

In [29]:
f_score

array([1.41905913e+02, 4.57019756e+00, 1.44882087e-03, 1.59990513e-01,
       3.16606568e-03, 4.04208927e-01])

In [30]:
p_values

array([1.77038466e-12, 4.14028344e-02, 9.69907241e-01, 6.92200477e-01,
       9.55528076e-01, 5.30086171e-01])

In [34]:
f_score_output=list(map('{:.2f}%'.format,f_score))

In [35]:
f_score_output

['141.91%', '4.57%', '0.00%', '0.16%', '0.00%', '0.40%']

In [36]:
p_values_output = list(map('{:.2f}%'.format,p_values))

In [37]:
p_values_output

['0.00%', '0.04%', '0.97%', '0.69%', '0.96%', '0.53%']

The first feature of number of hours of study as well as the second the number of hours slept have a P value less tha 0.05 while others have P value much higher than 0.05. We will drop the feature except hours and shours.

In [41]:
#Print the table of Features, F-Score and P-values

In [42]:
columns= list(X.columns)

In [43]:
columns

['Hours', 'sHours', 'hoursplayed', 'income', 'distance', 'calories']

In [63]:
print(" ")
print(" ")
print(" ")

print(" Feature ", "        F-score ","   P-Values ")
print(" -------          -------    --------")

for i in range(0, len(columns)):
    f1="%4.2f" % f_score[i]
    p1="%2.6f" % p_values[i]
    print("  ", columns[i].ljust(12),f1.rjust(8), "   ",p1.rjust(8))

 Feature          F-score     P-Values
 -------          -------    --------
   Hours          141.91     0.000000
   sHours           4.57     0.041403
   hoursplayed      0.00     0.969907
   income           0.16     0.692200
   distance         0.00     0.955528
   calories         0.40     0.530086

In [64]:
#will it have an impact after dropping

In [65]:
#Perform the m=linear regression with reduced features

In [74]:
x_train_n =x_train[['Hours','sHours']]

In [75]:
x_test_n =x_test[['Hours','sHours']]

In [76]:
#Fit the data nd predict Y for the new model

In [77]:
std_reg=LinearRegression()

In [78]:
std_reg.fit(x_train_n,y_train)

LinearRegression()

In [80]:
#predict the new Y

In [83]:
y_predict_n=std_reg.predict(x_test_n)

In [84]:
#Calculate the RMSE with reduced features

In [85]:
rmse_n=math.sqrt(mean_squared_error(y_test,y_predict_n))

In [86]:
rmse_n

5.09721728108113

The removal of irrelevant feature, and those with higher p value has resulted in a reduction of our error.

# 2) Chi Square feature selection method-

![](30.png)

This is data set. It has two variables- flight status and weather.
![](31.png)

![](32.png)

![](33.png)

![](34.png)

![](35.png)

![](36.png)

![](37.png)

![](38.png)

![](39.png)

# Selection Transform

![](40.png)
![](41.png)
![](42.png)
![](43.png)
![](44.png)
![](45.png)
![](46.png)

In [89]:
#Implement various features selections using Select Transform

In [90]:
#Import pandas, read the file and split into X and Y

In [91]:
import pandas as pd

In [92]:
f=pd.read_csv('Students2.csv')

In [93]:
f

    Hours  sHours  hoursplayed  income  distance  calories  Marks
0       0       6            6     146         9      2491     34
1       1       7            2     112         5      2303     36
2       1       6            1      84         7      2475     33
3       1       8            5     134         0      2282     39
4       1       8            5     104         8      2359     42
5       2       8            4      80         1      2354     45
6       2       6            3      93         0      2943     38
7       3       6            3      83         7      2119     45
8       3       7            6     139         1      2511     53
9       3       7            5     138        10      2666     46
10      3       8            5      98         2      2934     56
11      4       8            1      90         0      2838     59
12      4       7            3     140         7      2102     55
13      4       7            6     144         3      2560     56
14      5       8            2     144         5      2068     72
15      5       6            2     119         6      2541     59
16      6       6            1     140         6      2690     62
17      6       7            1      85         3      2956     71
18      7       8            2     140         8      2239     78
19      7       8            6     107         0      2703     88
20      7       6            5      85         7      2603     61
21      7       6            3     109         0      2031     74
22      8       7            5     108         0      2885     71
23      8       8            1     150         8      2153     89
24      9       8            4     150         9      2384     82
25      9       5            5      84        10      2882     67
26      9       8            5     127         5      2271     89
27     10       8            6      95         6      2264     81
28     10       8            5      72         5      2522     82
29     11       7            3      89         3      2279     79

In [97]:
#Split into X and Y

In [98]:
X=f.iloc[:,:-1]

In [99]:
Y=f.iloc[:,-1]

In [100]:
#Import various select transform along with the f_regression mode

In [102]:
from sklearn.feature_selection import SelectKBest, SelectPercentile,GenericUnivariateSelect, f_regression

In [103]:
selectorK = SelectKBest(score_func=f_regression, k=3)

In [104]:
X_k= selectorK.fit_transform(X,Y)

In [105]:
X_k

array([[   0,    6, 2491],
       [   1,    7, 2303],
       [   1,    6, 2475],
       [   1,    8, 2282],
       [   1,    8, 2359],
       [   2,    8, 2354],
       [   2,    6, 2943],
       [   3,    6, 2119],
       [   3,    7, 2511],
       [   3,    7, 2666],
       [   3,    8, 2934],
       [   4,    8, 2838],
       [   4,    7, 2102],
       [   4,    7, 2560],
       [   5,    8, 2068],
       [   5,    6, 2541],
       [   6,    6, 2690],
       [   6,    7, 2956],
       [   7,    8, 2239],
       [   7,    8, 2703],
       [   7,    6, 2603],
       [   7,    6, 2031],
       [   8,    7, 2885],
       [   8,    8, 2153],
       [   9,    8, 2384],
       [   9,    5, 2882],
       [   9,    8, 2271],
       [  10,    8, 2264],
       [  10,    8, 2522],
       [  11,    7, 2279]], dtype=int64)

In [107]:
X_k.shape

(30, 3)

In [108]:
#Get the f_score and p_values

In [109]:
f_score= selectorK.scores_

In [110]:
f_score

array([1.41905913e+02, 4.57019756e+00, 1.44882087e-03, 1.59990513e-01,
       3.16606568e-03, 4.04208927e-01])

In [112]:
p_values= selectorK.pvalues_

In [113]:
p_values

array([1.77038466e-12, 4.14028344e-02, 9.69907241e-01, 6.92200477e-01,
       9.55528076e-01, 5.30086171e-01])

In [114]:
#Print the column name with fscore and pvalues
#print the table of features, F-score and P-Values

In [115]:
print(" ")
print(" ")
print(" ")

print(" Feature ", "        F-score ","   P-Values ")
print(" -------          -------    --------")

for i in range(0, len(columns)):
    f1="%4.2f" % f_score[i]
    p1="%2.6f" % p_values[i]
    print("  ", columns[i].ljust(12),f1.rjust(8), "   ",p1.rjust(8))

 Feature          F-score     P-Values
 -------          -------    --------
   Hours          141.91     0.000000
   sHours           4.57     0.041403
   hoursplayed      0.00     0.969907
   income           0.16     0.692200
   distance         0.00     0.955528
   calories         0.40     0.530086

In [127]:
#Get the selected column name

In [128]:
cols= selectorK.get_support(indices=True)

In [129]:
selected_cols= X.columns[cols].tolist()

In [130]:
selected_cols

['Hours', 'sHours', 'calories']

In [131]:
#SelectPercentile

In [132]:
selectorP=SelectPercentile(score_func=f_regression, percentile=50)

In [133]:
X_p=selectorP.fit_transform(X,Y)

In [134]:
X_p

array([[   0,    6, 2491],
       [   1,    7, 2303],
       [   1,    6, 2475],
       [   1,    8, 2282],
       [   1,    8, 2359],
       [   2,    8, 2354],
       [   2,    6, 2943],
       [   3,    6, 2119],
       [   3,    7, 2511],
       [   3,    7, 2666],
       [   3,    8, 2934],
       [   4,    8, 2838],
       [   4,    7, 2102],
       [   4,    7, 2560],
       [   5,    8, 2068],
       [   5,    6, 2541],
       [   6,    6, 2690],
       [   6,    7, 2956],
       [   7,    8, 2239],
       [   7,    8, 2703],
       [   7,    6, 2603],
       [   7,    6, 2031],
       [   8,    7, 2885],
       [   8,    8, 2153],
       [   9,    8, 2384],
       [   9,    5, 2882],
       [   9,    8, 2271],
       [  10,    8, 2264],
       [  10,    8, 2522],
       [  11,    7, 2279]], dtype=int64)

In [135]:
#Get the f_score and p_values

In [136]:
f_score= selectorK.scores_

In [137]:
f_score

array([1.41905913e+02, 4.57019756e+00, 1.44882087e-03, 1.59990513e-01,
       3.16606568e-03, 4.04208927e-01])

In [138]:
p_values= selectorK.pvalues_

In [139]:
p_values

array([1.77038466e-12, 4.14028344e-02, 9.69907241e-01, 6.92200477e-01,
       9.55528076e-01, 5.30086171e-01])

In [140]:
#Print the column name with fscore and pvalues
#print the table of features, F-score and P-Values

In [141]:
print(" ")
print(" ")
print(" ")

print(" Feature ", "        F-score ","   P-Values ")
print(" -------          -------    --------")

for i in range(0, len(columns)):
    f1="%4.2f" % f_score[i]
    p1="%2.6f" % p_values[i]
    print("  ", columns[i].ljust(12),f1.rjust(8), "   ",p1.rjust(8))

 Feature          F-score     P-Values
 -------          -------    --------
   Hours          141.91     0.000000
   sHours           4.57     0.041403
   hoursplayed      0.00     0.969907
   income           0.16     0.692200
   distance         0.00     0.955528
   calories         0.40     0.530086

In [142]:
#Get the selected column name

In [143]:
cols= selectorK.get_support(indices=True)

In [144]:
selected_cols= X.columns[cols].tolist()

In [145]:
selected_cols

['Hours', 'sHours', 'calories']

In [146]:
#Implement GenericUnivariateSelect transform

In [147]:
selectorG1 = GenericUnivariateSelect(score_func=f_regression, mode ='k_best',param=3)

In [150]:
X_g1=selectorG1.fit_transform(X,Y)

In [151]:
X_g1

array([[   0,    6, 2491],
       [   1,    7, 2303],
       [   1,    6, 2475],
       [   1,    8, 2282],
       [   1,    8, 2359],
       [   2,    8, 2354],
       [   2,    6, 2943],
       [   3,    6, 2119],
       [   3,    7, 2511],
       [   3,    7, 2666],
       [   3,    8, 2934],
       [   4,    8, 2838],
       [   4,    7, 2102],
       [   4,    7, 2560],
       [   5,    8, 2068],
       [   5,    6, 2541],
       [   6,    6, 2690],
       [   6,    7, 2956],
       [   7,    8, 2239],
       [   7,    8, 2703],
       [   7,    6, 2603],
       [   7,    6, 2031],
       [   8,    7, 2885],
       [   8,    8, 2153],
       [   9,    8, 2384],
       [   9,    5, 2882],
       [   9,    8, 2271],
       [  10,    8, 2264],
       [  10,    8, 2522],
       [  11,    7, 2279]], dtype=int64)

In [152]:
selectorG2 = GenericUnivariateSelect(score_func=f_regression, mode ='percentile',param=50)

In [155]:
X_g2=selectorG2.fit_transform(X,Y)

In [157]:
X_g2

array([[   0,    6, 2491],
       [   1,    7, 2303],
       [   1,    6, 2475],
       [   1,    8, 2282],
       [   1,    8, 2359],
       [   2,    8, 2354],
       [   2,    6, 2943],
       [   3,    6, 2119],
       [   3,    7, 2511],
       [   3,    7, 2666],
       [   3,    8, 2934],
       [   4,    8, 2838],
       [   4,    7, 2102],
       [   4,    7, 2560],
       [   5,    8, 2068],
       [   5,    6, 2541],
       [   6,    6, 2690],
       [   6,    7, 2956],
       [   7,    8, 2239],
       [   7,    8, 2703],
       [   7,    6, 2603],
       [   7,    6, 2031],
       [   8,    7, 2885],
       [   8,    8, 2153],
       [   9,    8, 2384],
       [   9,    5, 2882],
       [   9,    8, 2271],
       [  10,    8, 2264],
       [  10,    8, 2522],
       [  11,    7, 2279]], dtype=int64)