# Ensemble Learning and Random Forest

Ensemble Learning
1) All algorithm have errors and we have to minimise the error.

2) Collective wisdom is higher than the individual intellignce.

3) Generate a group of base learners and combined result gives higher accuracy.

4) Different base learners can use different paremeters, sequence, training sets.

5) Two major Ensemble learning methods- Bagging and boosting.

Bagging-
1) Various madels are bulit in parallel.

2) All models vote to give the final predictions.

Boosting-
1) Train the decision tree in a sequence.

2) Learn from the previous tree by focusing on incorrect observations.

3) Build new model with higher weight for incorrect observations from previous sequence.

In [2]:
#Decision Tree Classifier and Random Forest Classifier

In [3]:
#Predict the income of an adult based on the census data

Statement of the Problem- Predict whether income exceeds $50K/yr based on census data. OR To determine whether a person makes over 50K a year or not.

To download the data, Please follow the link(https://archive.ics.uci.edu/ml/datasets/adult)

In [4]:
#Import Library
import pandas as pd

In [5]:
#Read dataset
data=pd.read_csv('04+-+decisiontreeAdultIncome.csv')

In [6]:
data

,age,wc,education,marital status,race,gender,hours per week,IncomeClass
0,38,Private,HS-grad,Divorced,White,Male,40,<=50K
1,28,Private,Bachelors,Married,Black,Female,40,<=50K
2,37,Private,Masters,Married,White,Female,40,<=50K
3,31,Private,Masters,Never-married,White,Female,50,>50K
4,42,Private,Bachelors,Married,White,Male,40,>50K
...,...,...,...,...,...,...,...,...
19782,53,Private,Masters,Married,White,Male,40,>50K
19783,22,Private,Some-college,Never-married,White,Male,40,<=50K
19784,40,Private,HS-grad,Married,White,Male,40,>50K
19785,58,Private,HS-grad,Widowed,White,Female,40,<=50K
19786,22,Private,HS-grad,Never-married,White,Male,20,<=50K

Description about the data set and features

age: continuous.

workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.

fnlwgt: continuous.

education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.

education-num: continuous.

marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.

occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.

race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.

sex: Female, Male.

capital-gain: continuous.

capital-loss: continuous.

hours-per-week: continuous.

native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [7]:
#Check for null values
data.isnull().sum(axis=0)

age               0
wc                0
education         0
marital status    0
race              0
gender            0
hours per week    0
IncomeClass       0
dtype: int64

In [8]:
#Check the data type
data.dtypes

age                int64
wc                object
education         object
marital status    object
race              object
gender            object
hours per week     int64
IncomeClass       object
dtype: object

In [9]:
#Create dummy variables
data_prep= pd.get_dummies(data, drop_first=True)

In [10]:
#Create the X and Y variables
X=data_prep.iloc[:,:-1]
Y=data_prep.iloc[:,-1]

In [11]:
#Split the X and Y dataset into training and testing set

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, Y_train, Y_test= train_test_split(X,Y, test_size=0.3,random_state=1234, stratify=Y)

In [14]:
#Import Decision Tree classifier from sklearn
from sklearn.tree import DecisionTreeClassifier

In [15]:
#Train the model
dtc= DecisionTreeClassifier(random_state=1234)
dtc.fit(X_train, Y_train)

DecisionTreeClassifier(random_state=1234)

In [16]:
Y_predict=dtc.predict(X_test)

In [17]:
Y_predict

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [18]:
#Evaluate the model
from sklearn.metrics import confusion_matrix

In [19]:
cm1=confusion_matrix(Y_test, Y_predict)

In [20]:
cm1

array([[3814,  559],
       [ 800,  764]], dtype=int64)

In [21]:
score1=dtc.score(X_test, Y_test)

In [22]:
score1

0.7710965133906014

In [23]:
#######################################################

In [24]:
#Import Random forest classifier from sklearn
from sklearn.ensemble import RandomForestClassifier

In [25]:
#Train the model
rfc= RandomForestClassifier(random_state=1234)
rfc.fit(X_train, Y_train)

RandomForestClassifier(random_state=1234)

In [26]:
Y_predict=rfc.predict(X_test)

In [27]:
Y_predict

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [28]:
#Evaluate the model
from sklearn.metrics import confusion_matrix

In [29]:
cm2=confusion_matrix(Y_test, Y_predict)

In [30]:
cm2

array([[3889,  484],
       [ 708,  856]], dtype=int64)

In [31]:
score2=rfc.score(X_test, Y_test)

In [32]:
score2

0.7992251979114031