In [1]:
#print function

In [2]:
print("Hello")

Hello

In [3]:
a=3
b=7
c=a+b
print(c)

10

In [5]:
a=3
b=7
c=a+b
print("addition=",c)

addition= 10

In [7]:
a=3
b=7
c=a+b
print("addition",a,"and",b,"=",c)

addition 3 and 7 = 10

In [9]:
#input function

In [10]:
Name=input("Enter your name")

Enter your nameShivam

In [11]:
Name=input("Enter your name")
print("Wlecome Mr",Name)

Enter your nameShivam
Wlecome Mr Shivam

In [16]:
a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
c=a+b
print("Addition of",a,"and",b,"is",c)

Enter the first number3
Enter the second number3
Addition of 3 and 3 is 6

In [17]:
#variable

In [18]:
x=4

In [19]:
y="Ram"

In [20]:
type(x)

int

In [21]:
type(y)

str

In [23]:
#Operators

In [24]:
a=5 
b=4
c=7

In [25]:
((a>b)and (a>c))

False

In [26]:
a is b

False

In [27]:
a is not b

True

In [28]:
x=5
if(type(x) is int):
    print("correct")
else:
    print("incorrect")

correct

In [29]:
a=10
list=[1,2,3,10,7]
if (a in list):
    print("Yes")
else:
    print("No")

Yes

In [30]:
a=int(input("Enter the Number"))
b=int(input("Enter the Number"))
add=a+b
sub=a-b
mul=a*b
div=a/b
print("Addition=",add)
print("Substraction=",sub)
print("Multiplication",mul)
print("Division=",div)

Enter the Number8
Enter the Number2
Addition= 10
Substraction= 6
Multiplication 16
Division= 4.0

In [32]:
#Control Statement 1) Selection statement

In [33]:
a=int(input("Enter the number"))
if a%2==0:
    print("even")
else:
    print("odd")

Enter the number3
odd

In [35]:
a=int(input("Enter the age"))
if a>=18:
    print("elegible")
else:
    print("not elegible")

Enter the age18
elegible

In [36]:
a=int(input("Enter first number"))
b=int(input("Enter second number"))
if a>b:
    print("Max is",a)
else:
    print("Max is",b)

Enter first number2
Enter second number3
Max is 3

In [37]:
a=int(input("Enter first number"))
b=int(input("Enter second number"))
c=int(input("Enter third number"))
if a>b and a>c:
    print("Max is",a)
elif b>c and b>a:
    print("Max is",b)
else:
    print("Max is",c)

Enter first number3
Enter second number4
Enter third number5
Max is 5

In [39]:
a=int(input("enter the number"))
if a>0:
    print("postive")
elif a<0:
    print("negative")
else:
    print("zero")

enter the number0
zero

In [43]:
a=int(input("Enter first number"))
b=int(input("Enter second number"))
c=int(input("Enter third number"))
if (a>b and a<c) or (a<b and a>c):
    print("middle number is",a)
elif (b>a and b<c) or(b<a and b>c):
    print("Middle numer is",b)
else:
    print("middle number is",c)

Enter first number3
Enter second number4
Enter third number5
Middle numer is 4

In [44]:
#Looping statement
# 1)Initialization
# 2)Condition
# 3)Increment

In [53]:
i=1
while(i<=10):
     print(i)
     i=i+1

1
2
3
4
5
6
7
8
9
10

In [56]:
n=int(input("enter the number"))
i=1
while(i<=n):
     print(i)
     i=i+1

enter the number5
1
2
3
4
5

In [59]:
n=int(input("enter the number"))
i=10
while(i>=n):
     print(i)
     i=i-1

enter the number6
10
9
8
7
6

In [62]:
n=int(input("enter the number"))
i=1
sum=0
while(i<=n):
    print(i)
    sum=sum+i
    i=i+1
print("sum",sum)

enter the number5
1
2
3
4
5
sum 15

In [63]:
n=int(input("enter the number"))
i=1
sum=0
while(i<=n):
    print(i)
    sum=sum+(i*i)
    i=i+1
print("sum",sum)

enter the number4
1
2
3
4
sum 30

In [64]:
import numpy as np

In [66]:
n=int(input("enter the number"))
i=2
while(i<=n):
    print(i)
    i=i+2

enter the number10
2
4
6
8
10

In [67]:
n=int(input("enter the number"))
i=2
while(i<=n):
    sum=sum+i
    i=i+2
print("Sum=",sum)

enter the number10
Sum= 60

In [3]:
n=int(input("How many number you want to add"))
i=1
sum=0
count=0
while(count<n):
       if(i%2==0):
                  sum=sum+i
                  count=count+1
       i=i+1
print("sum",sum)

How many number you want to add4
sum 20

In [ ]:
#write a program to find sum of digits of a given number

In [2]:
i=int(input("enter the number"))
sum=0
while(i>0):
    sum=sum+i%10
    i=i//10
print("Sum=", sum)

enter the number102
Sum= 3

In [6]:
i=int(input("enter the number"))
sum=0
while(i>0):
    sum=sum+(i%10)**2
    i=i//10
print("Sum=", sum)

enter the number111
Sum= 3

In [7]:
#find sum of cube of digits of a given number

In [9]:
i=int(input("enter the number"))
sum=0
while(i>0):
    sum=sum+(i%10)**3
    i=i//10
print("Sum=", sum)

enter the number222
Sum= 24

In [10]:
#a program to check whether a given number is armstrong or not

In [18]:
i=int(input("enter the number"))
x=i
sum=0
while(i>0):
    sum=sum+(i%10)**3
    i=i//10
print("Sum=", sum)
if(x == sum):
    print("i is armstrong")
else:
    print("i is not armstrong")

enter the number153
Sum= 153
i is armstrong

In [19]:
#program to find products of digit of a given number

In [20]:
i=int(input("enter the number"))
mul=1
while(i>0):
    mul=mul*(i%10)
    i=i//10
print("Multipication=", mul)

enter the number111
Multipication= 1

In [21]:
#find reverse of a given number

In [24]:
i=int(input("Enter the number"))
rev=0
while(i>0):
    rev=(rev*10)+i%10
    i=i//10
print("reverse=", rev)

Enter the number234
reverse= 432

In [25]:
#program to check whether a given number is palindrome number or not

In [1]:
#Check palindrome

In [8]:
i=int(input("Enter the number"))
rev=0
x=i
while(i>0):
    rev=(rev*10)+i%10
    i=i//10
if(x==rev):
        print("Palindrome")
else:
    print("Not Palindrome")

Enter the number525
Palindrome

In [ ]:
#factorial program

In [10]:
i=int(input("enter the number"))
fac=1
while(i>0):
    fac=fac*i
    i=i-1
print("Factorial=",fac)

enter the number5
Factorial= 120

In [11]:
#Nested Loop

In [12]:
#Star printing or pattern printing

In [14]:
i=1
while i<=6:
    j=1
    while j<=i:
        print("*", end='')
        j=j+1
    print()
    i=i+1

*
**
***
****
*****
******

In [15]:
#For Loop

In [18]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [22]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [23]:
for i in range(1,11):
    print(i)
else:
    print("terminated")

1
2
3
4
5
6
7
8
9
10
terminated

In [24]:
#print table of given number

In [26]:
i=int(input("enter the number"))
for x in range(1,11,1):
    print(i*x)

enter the number5
5
10
15
20
25
30
35
40
45
50

In [27]:
#function

In [35]:
#addition using funtion

In [38]:
def add():
    a=int(input("enter the number"))
    b=int(input("enter the number"))
    c=a+b
    print("addition",c)
add()
add()

enter the number3
enter the number4
addition 7
enter the number4
enter the number4
addition 8

In [40]:
#arguments/parameter This is value which is supplied to the function to operate.

In [46]:
def add(a,b):
    c=a+b
    print("addition=",c)
add(3,3)

addition= 6

In [47]:
def add(a,b):
    c=a+b
    print("addition=",c)
a=int(input("enter the number"))
b=int(input("enter the number"))   
add(a,b)

enter the number3
enter the number3
addition= 6

In [48]:
#default arguments

In [53]:
def add(a,b=5):
    c=a+b
    print("addition=",c)
a=int(input("enter the number"))  
add(a)

enter the number3
addition= 8

In [54]:
#break and continue

In [55]:
i=1
while(i<=5):
    if (i==3):
        break
    print(i)
    i=i+1

1
2

In [1]:
i=0
while(i<=5):
    i=i+1
    if (i==3):
        continue
    print(i)

1
2
4
5
6

In [3]:
#string

In [4]:
"every"+"day"

'everyday'

In [7]:
"everyday"*3

'everydayeverydayeveryday'

In [6]:
"a" in "ram"

True

In [8]:
"a"=="a"

True

In [9]:
#slicing in string

In [10]:
a="Hello World"

In [11]:
print(a[4:-2])

o Wor

In [12]:
print(a[6:],a[:6])

World Hello

In [13]:
len(a) #length

11

In [19]:
print(a[-1:-1])

In [21]:
a="Hello World"

In [23]:
print(a[-1::-1]) # program to find reverse of a string

dlroW olleH

In [28]:
b=a.capitalize()
print(b)

Hello world

In [29]:
#palindrome string

In [32]:
a=input("enter the string")
b=a[-1::-1]
if (a==b):
    print("palindrome")
else:
    print("not palindrome")

enter the stringmadam
palindrome

In [33]:
a="ram"

In [35]:
a.isalnum() #returns true if the charecter in the string are alphanumric

True

In [37]:
a.isdigit() #all charecter are digit or not

False

In [38]:
#list

In [1]:
a=["ram",12,12.5,"shyam"]

In [2]:
a[0]

'ram'

In [3]:
a.append(12)

In [4]:
a

['ram', 12, 12.5, 'shyam', 12]

In [5]:
a[0:]

['ram', 12, 12.5, 'shyam', 12]

In [6]:
a[1:3]

[12, 12.5]

In [7]:
a[1]="ramesh" #update list

In [8]:
a

['ram', 'ramesh', 12.5, 'shyam', 12]

In [11]:
del a[1] #delete  item in list

In [10]:
a

['ram', 12.5, 'shyam', 12]

In [12]:
#list traversal

In [13]:
a

['ram', 'shyam', 12]

In [16]:
a=["ram",12,12.5,"shyam"]
for i in a:
    print(i)

ram
12
12.5
shyam

In [20]:
a

['ram', 12, 12.5, 'shyam']

In [19]:
len(a) #lenght of list

4

In [21]:
a=[10,20,30,40,50]

In [22]:
max(a) #maximum

50

In [23]:
min(a) #minimum

10

In [27]:
a.append(40) #object add last to list

In [26]:
a

[1, 2, 3, 4, 5, 40]

In [ ]:
a=[]
for i in range(10):
    x=input("enter the number")
    a.append(x)
print(a)

In [2]:
a=[10,20,30,10,20,20,10]

In [4]:
x=a.count(10) #give number of count
print(x)

3

In [5]:
a

[10, 20, 30, 10, 20, 20, 10]

In [7]:
a.index(10) #give first index of object

0

In [8]:
a

[10, 20, 30, 10, 20, 20, 10]

In [12]:
a.insert(2,"ram") #insert at given index

In [13]:
a

[10, 20, 'ram', 'ram', 30, 10, 20, 20, 10]

In [16]:
 a.remove(10) #remove the an object/value from the given list at first occurrence.

In [17]:
a

[20, 'ram', 'ram', 30, 20, 20, 10]

In [24]:
a.reverse() #reverse the list

In [23]:
a

[20, 'ram', 'ram', 30, 20, 20, 10]

In [26]:
a

[10, 20, 20, 30, 'ram', 'ram']

In [29]:
a.pop() #delete the last element

'ram'

In [28]:
a

[10, 20, 20, 30, 'ram']

In [30]:
#find the sum of element of the list

In [31]:
a=[]
size=int(input("enter the size"))
for i in range(size):
    val=int(input("enter number"))
    a.append(val)
sum=0
for i in range(size):
    sum=sum+a[i]
print("sum",sum)

enter the size4
enter number1
enter number2
enter number3
enter number4
sum 10

In [32]:
#count total number of odd and even in the list

In [35]:
a=[]
size=int(input("enter the number"))
for i in range(size):
    val=int(input("enter the number"))
    a.append(val)
even=0
odd=0
for i in range(size):
    if(a[i]%2==0):
        even=even+1
    else:
        odd=odd+1
print("total even",even)
print("total odd", odd)

enter the number4
enter the number1
enter the number2
enter the number3
enter the number4
total even 2
total odd 2

In [37]:
#tuple

In [38]:
tuple1=(1,2,3,"ram",4,"Shyam")

In [39]:
t1=(1)

In [40]:
type(t1)

int

In [41]:
t2=(1,)

In [42]:
type(t2)

tuple

In [43]:
list1=[1,2,3,4]

In [46]:
t3=tuple(list1)

In [47]:
t3

(1, 2, 3, 4)

In [48]:
t1=(1,2,3,4)

In [49]:
t2=(2,3,5,6)

In [50]:
t1+t2

(1, 2, 3, 4, 2, 3, 5, 6)

In [51]:
t1*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [53]:
#slicing as same as list

In [54]:
len(t1) #length

4

In [55]:
max(t1) #maxvalue

4

In [56]:
min(t1) #min value

1

In [58]:
t1.index(2) #index number

1

In [60]:
t1.count(2) #how many times repeat

1

In [61]:
#Dictionary

In [1]:
dict1={"brand":"Suzuki","model":"dezire","year":2020}

In [2]:
print(dict1)

{'brand': 'Suzuki', 'model': 'dezire', 'year': 2020}

In [3]:
dict1={"brand":"Suzuki","model":"dezire","year":2020}
print(dict1)
x=dict1["model"]
print(x)

{'brand': 'Suzuki', 'model': 'dezire', 'year': 2020}
dezire

In [4]:
y=dict1.get("model")

In [5]:
print(y)

dezire

In [7]:
dict1={"brand":"Suzuki","model":"dezire","year":2020}
for x in dict1:
    print(x)

brand
model
year

In [9]:
dict1={"brand":"Suzuki","model":"dezire","year":2020}
for x in dict1.values():
    print(x)

Suzuki
dezire
2020

In [10]:
dict1={"brand":"Suzuki","model":"dezire","year":2020}
for x,y in dict1.items():
    print(x,y)

brand Suzuki
model dezire
year 2020

In [13]:
dict1={"brand":"Suzuki","model":"dezire","year":2020}
dict1["year"]=2020 #change the value
print(dict1)

{'brand': 'Suzuki', 'model': 'dezire', 'year': 2020}

In [15]:
dict1={"brand":"Suzuki","model":"dezire","year":2020}
if 'model' in dict1:
    print("yes")
else:
    print('no')

yes

In [16]:
dict1={"brand":"Suzuki","model":"dezire","year":2020}
dict1['color']="white"

In [17]:
print(dict1)

{'brand': 'Suzuki', 'model': 'dezire', 'year': 2020, 'color': 'white'}

In [18]:
len(dict1) #lenght

4

In [22]:
dict1={"brand":"Suzuki","model":"dezire","year":2020}
dict1.pop("model") #delete items from dict

'dezire'

In [20]:
dict1

{'brand': 'Suzuki', 'year': 2020, 'color': 'white'}

In [24]:
dict1={"brand":"Suzuki","model":"dezire","year":2020}
dict1.popitem() #delete the last item

('year', 2020)

In [25]:
dict1

{'brand': 'Suzuki', 'model': 'dezire'}

In [26]:
dict1={"brand":"Suzuki","model":"dezire","year":2020}
del dict1 ["year"]

In [27]:
dict1

{'brand': 'Suzuki', 'model': 'dezire'}

In [28]:
dict1={"brand":"Suzuki","model":"dezire","year":2020}
del dict1 #delete all the items

In [32]:
dict1={"brand":"Suzuki","model":"dezire","year":2020}
dict1.clear()  #deletes the dict bout gives an empty dict

In [31]:
dict1

{}

In [33]:
dict1={"brand":"Suzuki","model":"dezire","year":2020}
x=dict1.copy()
print(x)

{'brand': 'Suzuki', 'model': 'dezire', 'year': 2020}

In [34]:
x=('first','second','third')
y=0
dict3=dict.fromkeys(x,y)
print(dict3)

{'first': 0, 'second': 0, 'third': 0}

In [36]:
dict1={"brand":"Suzuki","model":"dezire","year":2020}
x=dict1.setdefault("brand",'toyota')
print(x)

Suzuki

In [37]:
dict1={"brand":"Suzuki","model":"dezire","year":2020}
x=dict1.setdefault("place",'delhi')
print(x)

delhi

In [38]:
dict1

{'brand': 'Suzuki', 'model': 'dezire', 'year': 2020, 'place': 'delhi'}